.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .page1 {
    padding: 20px;
    background-color: hotpink;
    color: black;
    width: 100vw;
    height: 100vh;
  }
  .page2 {
    width: 100vw;
    height: 100vh;
  }
}
