*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: var(--color-b-w);
  font-family: var(--font-family-sans);
  color: var(--color-text-body);
  line-height: var(--line-height-body);

  width: 100vw;
  height: 100vh;
}

img,
picture,
svg {
}

input,
button,
textarea,
select {
}

h1 {
  font-size: var(--font-size-xl);
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-m);
}

h4 {
  font-size: var(--font-size-s);
}

h5 {
  font-size: var(--font-size-xs);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: var(--line-height-headers);
}

p {
  line-height: var(--line-height-body);
  // border: solid 1px white;
  font-size: var(--font-size-small);
  padding: var(--space-small);
}
