.container {
  display: flex;
  flex-direction: column;
  .i1 {
    width: 60vw;
    margin: 20vh 0 20vh 0;
    padding: 5px;
    border: solid 2px goldenrod;
  }

  .i2 {
    width: 60vw;
    margin: 20vh 0 20vh 0;
    padding: 5px;
    border: solid 2px goldenrod;
  }

  .i3 {
    width: 60vw;
    margin: 20vh 0 20vh 0;
    padding: 5px;
    border: solid 2px goldenrod;
  }
}
